.cars-row-1 {
  font-size: 12px;
}

.cars-row-2 p {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.cars-row-2 button {
  font-size: 14px;
  font-weight: 700;
  width: 142px;
  padding: 8px 12px;
  height: 36px;
  border-radius: 2px;
  background: var(--DarkBlue04);
  color: white;
  border: 1px solid var(--DarkBlue04);

  &:hover {
    color: var(--DarkBlue04);
    background: transparent;
  }
}

.button-search {
  display: flex;
  gap: 16px;
}

.wrapper-notif {
  display: flex;
  justify-content: center;
  width: 100%;
}

.notification-delete {
  display: flex;
  position: absolute;
  min-width: 40%;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  color: var(--Neutral01);
  background: var(--Neutral05);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.notification {
  display: flex;
  position: absolute;
  min-width: 40%;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  color: var(--Neutral01);
  background: var(--AlertSuccess);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
