#delete-dialog {
  background-color: var(--Neutral01);
  max-width: 387px;
  height: 333px;
  font-family: Arial;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

#delete-dialog button {
  width: 87px;
  padding: 8px 12px;
  gap: 10px;
}

#delete-dialog .row {
  display: flex;
  width: 387px;
  padding: 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

#delete-dialog h2,
#delete-dialog h2 {
  color: #000;
  text-align: center;
}

#delete-dialog h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
#delete-dialog p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.button-no,
.button-yes {
  font-size: 14px;
  font-weight: 700;
  width: 142px;
  padding: 8px 12px;
  height: 36px;
  border-radius: 2px;
  opacity: 100%;
}

.button-no {
  background: var(--Neutral01);
  color: var(--DarkBlue04);

  &:hover {
    background: var(--Neutral01);
    color: var(--AlertDanger);
    border: 1px solid var(--AlertDanger);
  }
}

.button-yes {
  background: var(--DarkBlue04);
  color: var(--Neutral01);

  &:hover {
    background: var(--LimeGreen04);
    border: 1px solid var(--LimeGreen04);
  }
}
