:root {
  font-family: Helvetica, Arial, sans-serif;

  --DarkBlue01: #cfd4ed;
  --DarkBlue02: #aeb7e1;
  --DarkBlue03: #5e70c4;
  --DarkBlue04: #0d28a6;
  --DarkBlue05: #091b6f;

  --LimeGreen01: #def1df;
  --LimeGreen02: #c9e7ca;
  --LimeGreen03: #92d094;
  --LimeGreen04: #5cb85f;
  --LimeGreen05: #3d7b3f;

  --Neutral01: #ffffff;
  --Neutral02: #d0d0d0;
  --Neutral03: #8a8a8a;
  --Neutral04: #3c3c3c;
  --Neutral05: #151515;

  --AlertDanger: #fa2c5a;
  --AlertWarning: #f9cc00;
  --AlertSuccess: #73ca5c;
}

a {
  text-decoration: none !important;
}
